body {
  font-family: Arial, sans-serif;
  margin: 0;
}

courier-inbox {
  width: 100%;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 16px;
}

.grid-section {
  border-radius: 4px;
  background: #e5e5e5;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  overflow: hidden;
}

.allow-overflow {
  overflow: visible;
}

.grid-header {
  background: white;
  padding: 16px;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e5e5e5;
}

.grid-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.grid-description {
  font-size: 16px;
  color: #666;
  margin: 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1px;
}

.grid-row {
  display: flex;
  width: 100%;
  gap: 1px;
}

.grid-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background: white;
}

.no-padding {
  padding: 0;
}

.themed {
  background-color: white;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .themed {
    background-color: black;
  }
}

.grid-item-title {
  margin: 0;
  text-align: center;
  font-size: 14px;
  color: #333;
  align-self: flex-end;
}

.package-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
}

.package-name {
  color: #521e65;
}