<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courier Core UI Component Library</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">

    <p class="package-title">@trycourier/<span class="package-name">courier-ui-inbox</span></p>

    <div class="grid-section allow-overflow">
      <div class="grid-header">
        <p class="grid-title">courier-inbox-menu</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding" style="height: 100px;">
            <courier-inbox-menu id="inbox-menu" popup-alignment="top-center"></courier-inbox-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-inbox</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding">
            <courier-inbox height="420px" id="inbox"></courier-inbox>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section allow-overflow">
      <div class="grid-header">
        <p class="grid-title">courier-inbox-menu (custom)</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding" style="height: 100px;">
            <courier-inbox-menu id="inbox-menu" popup-alignment="top-center"></courier-inbox-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-inbox (custom)</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding">
            <courier-inbox height="420px" id="inbox-custom"></courier-inbox>
          </div>
        </div>
      </div>
    </div>

    <p class="package-title">@trycourier/<span class="package-name">courier-ui-core</span></p>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-button</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-button variant="primary" mode="light" id="primaryBtn">Primary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="secondary" mode="light" id="secondaryBtn">Secondary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="tertiary" mode="light" id="tertiaryBtn">Tertiary</courier-button>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-button variant="primary" mode="dark" id="primaryDarkBtn">Primary</courier-button>
          </div>
          <div class="grid-item dark-mode">
            <courier-button variant="secondary" mode="dark" id="secondaryDarkBtn">Secondary</courier-button>
          </div>
          <div class="grid-item dark-mode">
            <courier-button variant="tertiary" mode="dark" id="tertiaryDarkBtn">Tertiary</courier-button>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-button variant="primary" background-color="#521e65" font-family="Verdana" border-radius="50px"
              id="customPrimaryBtn">Primary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="secondary" border-color="#521e65" text-color="#521e65" font-family="Verdana"
              border-radius="50px" id="customSecondaryBtn">Secondary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="tertiary" text-color="#521e65" font-family="Verdana" border-radius="50px"
              id="customTertiaryBtn">Tertiary</courier-button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-link</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-link href="https://www.courier.com" target="_blank">Primary</courier-link>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-link href="https://www.courier.com" target="_blank" mode="dark">Primary</courier-link>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-link href="https://www.courier.com" target="_blank" font-family="Verdana" font-size="16px"
              color="#521e65" underline="true" icon="none">Primary</courier-link>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-icon</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-icon icon="inbox"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="archive"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="check"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="filter"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="right"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="remove"></courier-icon>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-icon icon="inbox" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="archive" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="check" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="filter" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="right" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="remove" mode="dark"></courier-icon>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-icon icon="inbox" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="archive" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="check" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="filter" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="right" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="remove" color="#521e65"></courier-icon>
          </div>
        </div>
      </div>
    </div>

    <script type="module">
      import { CourierButton } from '@trycourier/courier-ui-core';
      import { CourierInbox } from '@trycourier/courier-ui-inbox';
      import { CourierIcon } from '@trycourier/courier-ui-core';
      import { Courier } from '@trycourier/courier-js';

      Courier.shared.signIn({
        userId: import.meta.env.VITE_USER_ID,
        jwt: import.meta.env.VITE_JWT,
        showLogs: false
      });

      // Add click event listeners to all buttons
      document.querySelectorAll('courier-button').forEach(button => {
        button.addEventListener('click', () => {
          alert('Button clicked!');
        });
      });

      const handleMessageClick = (event) => {
        const { message, index } = event.detail;
        alert(`Message ${index}:\n${JSON.stringify(message, null, 2)}`);
      };

      // Inbox list item click handler
      // document.getElementById('inbox').addEventListener('message-click', handleMessageClick);
      // document.getElementById('inbox-menu').addEventListener('message-click', handleMessageClick);

      // Custom inbox list item
      const customInbox = document.getElementById('inbox-custom');

      // customInbox.setFeedType('archive');
      // customInbox.setHeader((feedType, unreadCount) => null);

      customInbox.setHeader(props => {

        console.log('Setting header', props);

        const header = document.createElement('div');
        header.style.cssText = 'display: flex; gap: 12px; padding: 12px; width: 100%; box-sizing: border-box; overflow-x: auto; border-bottom: 1px solid #e0e0e0;';

        const createTab = (text, type) => {
          const tab = document.createElement('button');
          const baseStyles = `
            flex: 1;
            padding: 12px;
            cursor: pointer;
            border: none;
            font-size: 14px;
            background: transparent;
            font-weight: normal;
            border-radius: 4px;
            font-family: monospace;
            border: 2px solid #f5f5f5;
          `;

          const selectedStyles = `
            background: #e8e8e8;
            font-weight: bold;
            border: none;
          `;

          tab.style.cssText = baseStyles + (props.feedType === type ? selectedStyles : '');
          tab.textContent = type === 'inbox' ? `Inbox (${props.unreadCount})` : `Archive`;
          tab.onclick = () => customInbox.setFeedType(type);

          return tab;
        };

        const inboxTab = createTab('Inbox', 'inbox');
        const archiveTab = createTab('Archive', 'archive');

        header.appendChild(inboxTab);
        header.appendChild(archiveTab);

        return header;
      });

      customInbox.setListItem((message, index) => {
        const listItem = document.createElement('div');
        listItem.style.cssText = 'width: 100%; box-sizing: border-box; padding: 12px; border-bottom: 1px solid #e0e0e0; overflow-x: auto; cursor: pointer;';
        listItem.innerHTML = `
          <p style="font-family: monospace; white-space: pre-wrap; word-break: break-word; line-height: 1.6; background: #f5f5f5; padding: 12px; border-radius: 4px; margin: 0;">${JSON.stringify({
          messageId: message.messageId,
          title: message.title,
          preview: message.preview,
        }, null, 2)}</p>`;

        listItem.addEventListener('click', () => {
          alert(`You clicked message ${index}`);
        });

        return listItem;
      });

      customInbox.setPaginationItem((feedType) => {
        const listItem = document.createElement('div');
        listItem.style.cssText = 'width: 100%; padding: 16px; display: flex; justify-content: center; align-items: center;';
        listItem.innerHTML = '<p>Loading...</p>';
        return listItem;
      });

    </script>
</body>

</html>