<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courier Core UI Component Library</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">

    <p class="package-title">@trycourier/<span class="package-name">courier-ui-inbox</span></p>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-inbox</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding">
            <courier-inbox id="inbox" height="420px" light-theme='{ "color": "#521e65" }'
              dark-theme='{ "color": "#521e65" }'>
            </courier-inbox>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="grid-section allow-overflow">
      <div class="grid-header">
        <p class="grid-title">courier-inbox-menu</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding" style="height: 100px;">
            <courier-inbox-menu></courier-inbox-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-inbox (custom)</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding">
            <courier-inbox height="420px" id="inbox-custom"></courier-inbox>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section allow-overflow">
      <div class="grid-header">
        <p class="grid-title">courier-inbox-menu (custom)</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item no-padding" style="height: 100px;">
            <courier-inbox-menu id="inbox-menu" popup-alignment="center-left" left="176px" popup-width="500px"
              popup-height="620px"></courier-inbox-menu>
          </div>
        </div>
      </div>
    </div> -->

    <p class="package-title">@trycourier/<span class="package-name">courier-ui-core</span></p>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-button</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-button variant="primary" mode="light" id="primaryBtn">Primary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="secondary" mode="light" id="secondaryBtn">Secondary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="tertiary" mode="light" id="tertiaryBtn">Tertiary</courier-button>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-button variant="primary" mode="dark" id="primaryDarkBtn">Primary</courier-button>
          </div>
          <div class="grid-item dark-mode">
            <courier-button variant="secondary" mode="dark" id="secondaryDarkBtn">Secondary</courier-button>
          </div>
          <div class="grid-item dark-mode">
            <courier-button variant="tertiary" mode="dark" id="tertiaryDarkBtn">Tertiary</courier-button>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-button variant="primary" background-color="#521e65" font-family="Verdana" border-radius="50px"
              id="customPrimaryBtn">Primary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="secondary" border-color="#521e65" text-color="#521e65" font-family="Verdana"
              border-radius="50px" id="customSecondaryBtn">Secondary</courier-button>
          </div>
          <div class="grid-item">
            <courier-button variant="tertiary" text-color="#521e65" font-family="Verdana" border-radius="50px"
              id="customTertiaryBtn">Tertiary</courier-button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-link</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-link href="https://www.courier.com" target="_blank">Primary</courier-link>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-link href="https://www.courier.com" target="_blank" mode="dark">Primary</courier-link>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-link href="https://www.courier.com" target="_blank" font-family="Verdana" font-size="16px"
              color="#521e65" underline="true" icon="none">Primary</courier-link>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-section">
      <div class="grid-header">
        <p class="grid-title">courier-icon</p>
      </div>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-item">
            <courier-icon icon="inbox"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="archive"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="check"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="filter"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="right"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="remove"></courier-icon>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item dark-mode">
            <courier-icon icon="inbox" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="archive" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="check" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="filter" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="right" mode="dark"></courier-icon>
          </div>
          <div class="grid-item dark-mode">
            <courier-icon icon="remove" mode="dark"></courier-icon>
          </div>
        </div>
        <div class="grid-row">
          <div class="grid-item">
            <courier-icon icon="inbox" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="archive" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="check" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="filter" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="right" color="#521e65"></courier-icon>
          </div>
          <div class="grid-item">
            <courier-icon icon="remove" color="#521e65"></courier-icon>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="custom-elements.js"></script>
    <script type="module">
      import { CourierButton } from '@trycourier/courier-ui-core';
      import { CourierInbox } from '@trycourier/courier-ui-inbox';
      import { CourierIcon } from '@trycourier/courier-ui-core';
      import { Courier } from '@trycourier/courier-js';
      import { markAsRead, markAsUnread } from '@trycourier/courier-ui-inbox';

      Courier.shared.signIn({
        userId: import.meta.env.VITE_USER_ID,
        jwt: import.meta.env.VITE_JWT,
        showLogs: false
      });

      // Add click event listeners to all buttons
      document.querySelectorAll('courier-button').forEach(button => {
        button.addEventListener('click', () => {
          alert('Button clicked!');
        });
      });

      const handleMessageClick = (event) => {
        const { message, index } = event.detail;
        message.read ? markAsUnread(message) : markAsRead(message);
        alert(`Message ${index}:\n${JSON.stringify(message, null, 2)}`);
      };

      // Inbox list item click handler
      document.getElementById('inbox').addEventListener('message-click', handleMessageClick);
      document.getElementById('inbox-menu').addEventListener('message-click', handleMessageClick);

      // Custom inbox list item
      const customInbox = document.getElementById('inbox-custom');

      // customInbox.removeHeader();
      // customInbox.setFeedType('inbox');

      customInbox.setHeader(props => {
        const header = document.createElement('custom-header');
        header.setAttribute('data-props', JSON.stringify(props));

        // Add event listener for tab changes
        header.addEventListener('tab-change', (event) => {
          const feedType = event.detail;
          customInbox.setFeedType(feedType);
        });

        return header;
      });

      customInbox.setLoadingState(props => {
        const loading = document.createElement('custom-loading-state');
        loading.setAttribute('data-props', JSON.stringify(props));
        return loading;
      });

      customInbox.setEmptyState(props => {
        const empty = document.createElement('custom-empty-state');
        empty.setAttribute('data-props', JSON.stringify(props));
        return empty;
      });

      customInbox.setErrorState(props => {
        const error = document.createElement('custom-error-state');
        error.setAttribute('data-props', JSON.stringify(props));
        return error;
      });

      customInbox.setListItem(props => {
        const listItem = document.createElement('custom-list-item');
        listItem.setAttribute('data-props', JSON.stringify(props));
        return listItem;
      });

      customInbox.setPaginationItem(props => {
        const pagination = document.createElement('custom-pagination-item');
        pagination.setAttribute('data-props', JSON.stringify(props));
        return pagination;
      });

      // Custom inbox list item
      const customInboxMenu = document.getElementById('inbox-menu');

      customInboxMenu.setPopupHeader(props => {
        const header = document.createElement('custom-header');
        header.setAttribute('data-props', JSON.stringify(props));

        // Add event listener for tab changes
        header.addEventListener('tab-change', (event) => {
          const feedType = event.detail;
          customInboxMenu.setFeedType(feedType);
        });

        return header;
      });

      customInboxMenu.setPopupLoadingState(props => {
        const loading = document.createElement('custom-loading-state');
        loading.setAttribute('data-props', JSON.stringify(props));
        return loading;
      });

      customInboxMenu.setPopupEmptyState(props => {
        const empty = document.createElement('custom-empty-state');
        empty.setAttribute('data-props', JSON.stringify(props));
        return empty;
      });

      customInboxMenu.setPopupErrorState(props => {
        const error = document.createElement('custom-error-state');
        error.setAttribute('data-props', JSON.stringify(props));
        return error;
      });

      customInboxMenu.setPopupListItem(props => {
        const listItem = document.createElement('custom-list-item');
        listItem.setAttribute('data-props', JSON.stringify(props));
        return listItem;
      });

      customInboxMenu.setPopupPaginationItem(props => {
        const pagination = document.createElement('custom-pagination-item');
        pagination.setAttribute('data-props', JSON.stringify(props));
        return pagination;
      });

      customInboxMenu.setPopupMenuButton(props => {
        const menuButton = document.createElement('custom-menu-button');
        menuButton.setAttribute('data-props', JSON.stringify(props));
        return menuButton;
      });

    </script>
</body>

</html>